.menu {
  width: 85%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  ion-icon {
    font-size: 60px;
    color: #ffffff;
    position: absolute;
    top: 25px;
    left: 15px;
    @media (orientation: landscape) {
      position: relative;
      margin-bottom: -20px;
      top: -9%;
      left: -46%;
    }
  }
  .popout {
    color: $black;
    background-color: $white;
    width: 100%;
    box-sizing: border-box;
    border-radius: 30px;
    margin: 35px 0;
    h1 {
      margin: 0;
      padding: 18px 20px 0;
      text-align: center;
    }
    form {
      .fields {
        padding: 15px 20px;
      }
      input {
        width: 100%;
        box-sizing: border-box;
        border: 1px solid $border;
        border-radius: 5px;
        margin: 10px 0;
        font-size: 20px;
        padding: 8px;
        &::placeholder {
          color: $grey;
        }
        &[type="submit"] {
          margin-bottom: 0;
          border: none;
          background-color: $accent;
          color: $white;
          border-radius: 0 0 30px 30px;
          height: 65px;
          font-size: 28px;
          font-weight: bold;
          &:focus {
            border-radius: 0 0 30px 30px;
            outline: none;
            box-shadow: inset 0 0 10pt 2pt $darkaccent;
          }
        }
      }
    }
    + .below {
      text-align: center;
      display: flex;
      flex-direction: column;
      a {
        color: $white;
        text-decoration: none;
        font-size: 22px;
        padding-bottom: 30px;
      }
    }
  }
}
